<a href="https://colab.research.google.com/github/Nirjhargope/Used-Car-Price-Prediction/blob/main/nirjhar_gope_work_on_used_car_price_prediction_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [ ]:
train_data = pd.read_csv('../input/used-cars-price-prediction/train-data.csv')
test_data = pd.read_csv('../input/used-cars-price-prediction/test-data.csv')

In [ ]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6019 entries, 0 to 6018
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         6019 non-null   int64
 1   Name               6019 non-null   object
 2   Location           6019 non-null   object
 3   Year               6019 non-null   int64
 4   Kilometers_Driven  6019 non-null   int64
 5   Fuel_Type          6019 non-null   object
 6   Transmission       6019 non-null   object
 7   Owner_Type         6019 non-null   object
 8   Mileage            6017 non-null   object
 9   Engine             5983 non-null   object
 10  Power              5983 non-null   object
 11  Seats              5977 non-null   float64
 12  New_Price          824 non-null    object
 13  Price              6019 non-null   float64
dtypes: float64(2), int64(3), object(9)
memory usage: 658.5+ KB

In [ ]:
train_data = train_data.iloc[:,1:]
train_data.head()

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,NaN,1.75
1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74

In [ ]:
train_data.describe()

              Year  Kilometers_Driven        Seats        Price
count  6019.000000       6.019000e+03  5977.000000  6019.000000
mean   2013.358199       5.873838e+04     5.278735     9.479468
std       3.269742       9.126884e+04     0.808840    11.187917
min    1998.000000       1.710000e+02     0.000000     0.440000
25%    2011.000000       3.400000e+04     5.000000     3.500000
50%    2014.000000       5.300000e+04     5.000000     5.640000
75%    2016.000000       7.300000e+04     5.000000     9.950000
max    2019.000000       6.500000e+06    10.000000   160.000000

In [ ]:
train_data.shape

(6019, 13)

In [ ]:
# Looking ate the unique values of Categorical Features
print(train_data['Location'].unique())
print(train_data['Fuel_Type'].unique())
print(train_data['Transmission'].unique())
print(train_data['Owner_Type'].unique())

['Mumbai' 'Pune' 'Chennai' 'Coimbatore' 'Hyderabad' 'Jaipur' 'Kochi'
 'Kolkata' 'Delhi' 'Bangalore' 'Ahmedabad']
['CNG' 'Diesel' 'Petrol' 'LPG' 'Electric']
['Manual' 'Automatic']
['First' 'Second' 'Fourth & Above' 'Third']

In [ ]:
train_data.isnull().sum()

Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 36
Power                  36
Seats                  42
New_Price            5195
Price                   0
dtype: int64

In [ ]:
train_data = train_data[train_data['Mileage'].notna()]
train_data = train_data[train_data['Engine'].notna()]
train_data = train_data[train_data['Power'].notna()]
train_data = train_data[train_data['Seats'].notna()]

In [ ]:
train_data = train_data.reset_index(drop=True)

In [ ]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5975 entries, 0 to 5974
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               5975 non-null   object
 1   Location           5975 non-null   object
 2   Year               5975 non-null   int64
 3   Kilometers_Driven  5975 non-null   int64
 4   Fuel_Type          5975 non-null   object
 5   Transmission       5975 non-null   object
 6   Owner_Type         5975 non-null   object
 7   Mileage            5975 non-null   object
 8   Engine             5975 non-null   object
 9   Power              5975 non-null   object
 10  Seats              5975 non-null   float64
 11  New_Price          823 non-null    object
 12  Price              5975 non-null   float64
dtypes: float64(2), int64(2), object(9)
memory usage: 607.0+ KB

In [ ]:
train_data['Price'].describe()

count    5975.000000
mean        9.501647
std        11.205736
min         0.440000
25%         3.500000
50%         5.650000
75%         9.950000
max       160.000000
Name: Price, dtype: float64

In [ ]:
train_data['Fuel_Type'].describe()

count       5975
unique         4
top       Diesel
freq        3195
Name: Fuel_Type, dtype: object

In [ ]:
var = 'Location'
train_data[var].value_counts()

Mumbai        784
Hyderabad     741
Kochi         648
Coimbatore    634
Pune          613
Delhi         549
Kolkata       530
Chennai       490
Jaipur        410
Bangalore     353
Ahmedabad     223
Name: Location, dtype: int64

In [ ]:
Location = train_data[[var]]
Location = pd.get_dummies(Location,drop_first=True)
Location.head()

,Location_Bangalore,Location_Chennai,Location_Coimbatore,Location_Delhi,Location_Hyderabad,Location_Jaipur,Location_Kochi,Location_Kolkata,Location_Mumbai,Location_Pune
0,0,0,0,0,0,0,0,0,1,0
1,0,0,0,0,0,0,0,0,0,1
2,0,1,0,0,0,0,0,0,0,0
3,0,1,0,0,0,0,0,0,0,0
4,0,0,1,0,0,0,0,0,0,0

In [ ]:
var = 'Fuel_Type'
train_data[var].value_counts()

Diesel    3195
Petrol    2714
CNG         56
LPG         10
Name: Fuel_Type, dtype: int64

In [ ]:
Fuel_t = train_data[[var]]
Fuel_t = pd.get_dummies(Fuel_t,drop_first=True)
Fuel_t.head()

   Fuel_Type_Diesel  Fuel_Type_LPG  Fuel_Type_Petrol
0                 0              0                 0
1                 1              0                 0
2                 0              0                 1
3                 1              0                 0
4                 1              0                 0

In [ ]:
var = 'Transmission'
train_data[var].value_counts()

Manual       4266
Automatic    1709
Name: Transmission, dtype: int64

In [ ]:
Transmission = train_data[[var]]
Transmission = pd.get_dummies(Transmission,drop_first=True)
Transmission.head()

   Transmission_Manual
0                    1
1                    1
2                    1
3                    1
4                    0

In [ ]:
var = 'Owner_Type'
train_data[var].value_counts()

First             4903
Second             953
Third              111
Fourth & Above       8
Name: Owner_Type, dtype: int64

In [ ]:
train_data.replace({"First":1,"Second":2,"Third": 3,"Fourth & Above":4},inplace=True)
train_data.head()

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,1,26.6 km/kg,998 CC,58.16 bhp,5.0,NaN,1.75
1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,1,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,1,18.2 kmpl,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,1,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,2,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74

In [ ]:
var = 'Name'
train_data[var].value_counts()

Mahindra XUV500 W8 2WD                                      49
Maruti Swift VDI                                            45
Maruti Swift Dzire VDI                                      34
Honda City 1.5 S MT                                         34
Maruti Swift VDI BSIV                                       31
                                                            ..
Mercedes-Benz E-Class 2009-2013 E200 CGI Blue Efficiency     1
Skoda Octavia Style Plus 2.0 TDI AT                          1
Porsche Boxster S tiptronic                                  1
Mahindra Bolero mHAWK D70 ZLX                                1
Tata Nano Cx                                                 1
Name: Name, Length: 1855, dtype: int64

In [ ]:
train_data.drop(["Name"],axis=1,inplace=True)

In [ ]:
final_train= pd.concat([train_data,Location,Fuel_t,Transmission],axis=1)
final_train.head()

,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,...,Location_Hyderabad,Location_Jaipur,Location_Kochi,Location_Kolkata,Location_Mumbai,Location_Pune,Fuel_Type_Diesel,Fuel_Type_LPG,Fuel_Type_Petrol,Transmission_Manual
0,Mumbai,2010,72000,CNG,Manual,1,26.6 km/kg,998 CC,58.16 bhp,5.0,...,0,0,0,0,1,0,0,0,0,1
1,Pune,2015,41000,Diesel,Manual,1,19.67 kmpl,1582 CC,126.2 bhp,5.0,...,0,0,0,0,0,1,1,0,0,1
2,Chennai,2011,46000,Petrol,Manual,1,18.2 kmpl,1199 CC,88.7 bhp,5.0,...,0,0,0,0,0,0,0,0,1,1
3,Chennai,2012,87000,Diesel,Manual,1,20.77 kmpl,1248 CC,88.76 bhp,7.0,...,0,0,0,0,0,0,1,0,0,1
4,Coimbatore,2013,40670,Diesel,Automatic,2,15.2 kmpl,1968 CC,140.8 bhp,5.0,...,0,0,0,0,0,0,1,0,0,0

In [ ]:
final_train.drop(["Location","Fuel_Type","Transmission","New_Price"],axis=1,inplace=True)
final_train.head()

,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,Price,Location_Bangalore,Location_Chennai,...,Location_Hyderabad,Location_Jaipur,Location_Kochi,Location_Kolkata,Location_Mumbai,Location_Pune,Fuel_Type_Diesel,Fuel_Type_LPG,Fuel_Type_Petrol,Transmission_Manual
0,2010,72000,1,26.6 km/kg,998 CC,58.16 bhp,5.0,1.75,0,0,...,0,0,0,0,1,0,0,0,0,1
1,2015,41000,1,19.67 kmpl,1582 CC,126.2 bhp,5.0,12.50,0,0,...,0,0,0,0,0,1,1,0,0,1
2,2011,46000,1,18.2 kmpl,1199 CC,88.7 bhp,5.0,4.50,0,1,...,0,0,0,0,0,0,0,0,1,1
3,2012,87000,1,20.77 kmpl,1248 CC,88.76 bhp,7.0,6.00,0,1,...,0,0,0,0,0,0,1,0,0,1
4,2013,40670,2,15.2 kmpl,1968 CC,140.8 bhp,5.0,17.74,0,0,...,0,0,0,0,0,0,1,0,0,0

In [ ]:
final_train.shape

(5975, 22)

In [ ]:
final_train= pd.concat([train_data,Location,Fuel_t,Transmission],axis=1)
final_train.head()

,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,...,Location_Hyderabad,Location_Jaipur,Location_Kochi,Location_Kolkata,Location_Mumbai,Location_Pune,Fuel_Type_Diesel,Fuel_Type_LPG,Fuel_Type_Petrol,Transmission_Manual
0,Mumbai,2010,72000,CNG,Manual,1,26.6 km/kg,998 CC,58.16 bhp,5.0,...,0,0,0,0,1,0,0,0,0,1
1,Pune,2015,41000,Diesel,Manual,1,19.67 kmpl,1582 CC,126.2 bhp,5.0,...,0,0,0,0,0,1,1,0,0,1
2,Chennai,2011,46000,Petrol,Manual,1,18.2 kmpl,1199 CC,88.7 bhp,5.0,...,0,0,0,0,0,0,0,0,1,1
3,Chennai,2012,87000,Diesel,Manual,1,20.77 kmpl,1248 CC,88.76 bhp,7.0,...,0,0,0,0,0,0,1,0,0,1
4,Coimbatore,2013,40670,Diesel,Automatic,2,15.2 kmpl,1968 CC,140.8 bhp,5.0,...,0,0,0,0,0,0,1,0,0,0

In [ ]:
final_train.shape

(5975, 26)

In [ ]:
test_data.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price
0,0,Maruti Alto K10 LXI CNG,Delhi,2014,40929,CNG,Manual,First,32.26 km/kg,998 CC,58.2 bhp,4.0,NaN
1,1,Maruti Alto 800 2016-2019 LXI,Coimbatore,2013,54493,Petrol,Manual,Second,24.7 kmpl,796 CC,47.3 bhp,5.0,NaN
2,2,Toyota Innova Crysta Touring Sport 2.4 MT,Mumbai,2017,34000,Diesel,Manual,First,13.68 kmpl,2393 CC,147.8 bhp,7.0,25.27 Lakh
3,3,Toyota Etios Liva GD,Hyderabad,2012,139000,Diesel,Manual,First,23.59 kmpl,1364 CC,null bhp,5.0,NaN
4,4,Hyundai i20 Magna,Mumbai,2014,29000,Petrol,Manual,First,18.5 kmpl,1197 CC,82.85 bhp,5.0,NaN

In [ ]:
test_data = test_data.iloc[:,1:]

test_data = test_data[test_data['Mileage'].notna()]
test_data = test_data[test_data['Engine'].notna()]
test_data = test_data[test_data['Power'].notna()]
test_data = test_data[test_data['Seats'].notna()]

test_data = test_data.reset_index(drop=True)

var = 'Location'
Location = test_data[[var]]
Location = pd.get_dummies(Location,drop_first=True)
Location.head()

var = 'Fuel_Type'
Fuel_t = test_data[[var]]
Fuel_t = pd.get_dummies(Fuel_t,drop_first=True)
Fuel_t.head()

var = 'Transmission'
Transmission = test_data[[var]]
Transmission = pd.get_dummies(Transmission,drop_first=True)
Transmission.head()

test_data.replace({"First":1,"Second":2,"Third": 3,"Fourth & Above":4},inplace=True)
test_data.head()

final_test= pd.concat([test_data,Location,Fuel_t,Transmission],axis=1)
final_test.head()

final_test.drop(["Location","Fuel_Type","Transmission","New_Price"],axis=1,inplace=True)
final_test.head()

print("Final Test Size: ",final_test.shape)

Final Test Size:  (1223, 22)

In [ ]:
final_test.head()

,Name,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,Location_Bangalore,Location_Chennai,...,Location_Hyderabad,Location_Jaipur,Location_Kochi,Location_Kolkata,Location_Mumbai,Location_Pune,Fuel_Type_Diesel,Fuel_Type_LPG,Fuel_Type_Petrol,Transmission_Manual
0,Maruti Alto K10 LXI CNG,2014,40929,1,32.26 km/kg,998 CC,58.2 bhp,4.0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,Maruti Alto 800 2016-2019 LXI,2013,54493,2,24.7 kmpl,796 CC,47.3 bhp,5.0,0,0,...,0,0,0,0,0,0,0,0,1,1
2,Toyota Innova Crysta Touring Sport 2.4 MT,2017,34000,1,13.68 kmpl,2393 CC,147.8 bhp,7.0,0,0,...,0,0,0,0,1,0,1,0,0,1
3,Toyota Etios Liva GD,2012,139000,1,23.59 kmpl,1364 CC,null bhp,5.0,0,0,...,1,0,0,0,0,0,1,0,0,1
4,Hyundai i20 Magna,2014,29000,1,18.5 kmpl,1197 CC,82.85 bhp,5.0,0,0,...,0,0,0,0,1,0,0,0,1,1

In [ ]:
final_train.columns

Index(['Location', 'Year', 'Kilometers_Driven', 'Fuel_Type', 'Transmission',
       'Owner_Type', 'Mileage', 'Engine', 'Power', 'Seats', 'New_Price',
       'Price', 'Location_Bangalore', 'Location_Chennai',
       'Location_Coimbatore', 'Location_Delhi', 'Location_Hyderabad',
       'Location_Jaipur', 'Location_Kochi', 'Location_Kolkata',
       'Location_Mumbai', 'Location_Pune', 'Fuel_Type_Diesel', 'Fuel_Type_LPG',
       'Fuel_Type_Petrol', 'Transmission_Manual'],
      dtype='object')

In [ ]:
y = final_train.loc[:,['Price']]
y.head()

   Price
0   1.75
1  12.50
2   4.50
3   6.00
4  17.74

In [ ]:
X = final_train.loc[:,['Year', 'Kilometers_Driven', 'Owner_Type', 'Seats',
       'Location_Bangalore', 'Location_Chennai', 'Location_Coimbatore',
       'Location_Delhi', 'Location_Hyderabad', 'Location_Jaipur',
       'Location_Kochi', 'Location_Kolkata', 'Location_Mumbai',
       'Location_Pune', 'Fuel_Type_Diesel', 'Fuel_Type_LPG',
       'Fuel_Type_Petrol', 'Transmission_Manual']]
X.shape

(5975, 18)

In [ ]:
y = final_train.loc[:,['Price']]
y.head()

   Price
0   1.75
1  12.50
2   4.50
3   6.00
4  17.74

In [ ]:
from sklearn.ensemble import ExtraTreesRegressor
selection= ExtraTreesRegressor()
selection.fit(X,y)

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

ExtraTreesRegressor()

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 25)

 Linear Regression

In [ ]:
from sklearn.linear_model import LinearRegression
linear_reg = LinearRegression()
linear_reg.fit(X_train, y_train)
y_pred= linear_reg.predict(X_test)
print("Accuracy on Traing set: ",linear_reg.score(X_train,y_train))
print("Accuracy on Testing set: ",linear_reg.score(X_test,y_test))

Accuracy on Traing set:  0.48371330287141245
Accuracy on Testing set:  0.07105280579988249

Random Forest Regressor

In [ ]:
from sklearn.ensemble import RandomForestRegressor
rf_reg = RandomForestRegressor()
rf_reg.fit(X_train, y_train)
y_pred= rf_reg.predict(X_test)
print("Accuracy on Traing set: ",rf_reg.score(X_train,y_train))
print("Accuracy on Testing set: ",rf_reg.score(X_test,y_test))

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

Accuracy on Traing set:  0.9448253334504721
Accuracy on Testing set:  0.5453188961340416

In [ ]:
from sklearn import metrics
from sklearn.metrics import mean_squared_error, mean_absolute_error

print("\t\tError Table")
print('Mean Absolute Error      : ', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared  Error      : ', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared  Error : ', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))
print('R Squared Error          : ', metrics.r2_score(y_test, y_pred))

		Error Table
Mean Absolute Error      :  3.5480318451218706
Mean Squared  Error      :  55.35003342582346
Root Mean Squared  Error :  7.439760307014162
R Squared Error          :  0.5453188961340416

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout
from tensorflow.keras.optimizers import Adam
from sklearn import metrics
from tensorflow.keras.regularizers import l2

# Assuming X_train, X_test, y_train, y_test are already defined and loaded with data

scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

# Define the neural network model with Dropout layers and L2 regularization
model = Sequential()
model.add(Dense(128, input_dim=X_train.shape[1], activation='relu', kernel_regularizer=l2(0.001)))
model.add(Dropout(0.5))  # Dropout layer to avoid overfitting
model.add(Dense(64, activation='relu', kernel_regularizer=l2(0.001)))
model.add(Dropout(0.5))  # Dropout layer to avoid overfitting
model.add(Dense(32, activation='relu', kernel_regularizer=l2(0.001)))
model.add(Dropout(0.5))  # Dropout layer to avoid overfitting
model.add(Dense(1))  # Output layer for regression task

model.compile(loss='mean_squared_error', optimizer=Adam(learning_rate=0.001), metrics=['mean_squared_error'])

history = model.fit(X_train, y_train, epochs=100, batch_size=32, validation_split=0.2, verbose=1)

y_pred = model.predict(X_test)

train_loss = model.evaluate(X_train, y_train, verbose=0)
test_loss = model.evaluate(X_test, y_test, verbose=0)

print("Accuracy on Training set:", 1 - train_loss[0])
print("Accuracy on Testing set:", 1 - test_loss[0])

print("\t\tError Table")
print('Mean Absolute Error      : ', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared  Error      : ', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared  Error : ', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))
print('R Squared Error          : ', metrics.r2_score(y_test, y_pred))

Epoch 1/100
120/120 [==============================] - 0s 3ms/step - loss: 140.6737 - mean_squared_error: 140.5090 - val_loss: 75.6961 - val_mean_squared_error: 75.5275
Epoch 2/100
120/120 [==============================] - 0s 3ms/step - loss: 80.2811 - mean_squared_error: 80.1113 - val_loss: 60.2951 - val_mean_squared_error: 60.1244
Epoch 3/100
120/120 [==============================] - 0s 3ms/step - loss: 76.6705 - mean_squared_error: 76.4999 - val_loss: 55.1415 - val_mean_squared_error: 54.9698
Epoch 4/100
120/120 [==============================] - 0s 3ms/step - loss: 75.3770 - mean_squared_error: 75.2054 - val_loss: 63.3140 - val_mean_squared_error: 63.1431
Epoch 5/100
120/120 [==============================] - 0s 3ms/step - loss: 73.3351 - mean_squared_error: 73.1636 - val_loss: 58.3990 - val_mean_squared_error: 58.2275
Epoch 6/100
120/120 [==============================] - 0s 3ms/step - loss: 71.2551 - mean_squared_error: 71.0827 - val_loss: 53.3609 - val_mean_squared_error: 53.1880
Epoch 7/100
120/120 [==============================] - 0s 3ms/step - loss: 69.0406 - mean_squared_error: 68.8678 - val_loss: 52.5508 - val_mean_squared_error: 52.3775
Epoch 8/100
120/120 [==============================] - 0s 3ms/step - loss: 68.0336 - mean_squared_error: 67.8603 - val_loss: 50.6846 - val_mean_squared_error: 50.5106
Epoch 9/100
120/120 [==============================] - 0s 3ms/step - loss: 65.4930 - mean_squared_error: 65.3183 - val_loss: 57.6728 - val_mean_squared_error: 57.4984
Epoch 10/100
120/120 [==============================] - 0s 3ms/step - loss: 64.4372 - mean_squared_error: 64.2619 - val_loss: 53.3062 - val_mean_squared_error: 53.1309
Epoch 11/100
120/120 [==============================] - 0s 3ms/step - loss: 67.0040 - mean_squared_error: 66.8283 - val_loss: 49.7579 - val_mean_squared_error: 49.5816
Epoch 12/100
120/120 [==============================] - 0s 3ms/step - loss: 63.8413 - mean_squared_error: 63.6649 - val_loss: 50.2870 - val_mean_squared_error: 50.1100
Epoch 13/100
120/120 [==============================] - 0s 3ms/step - loss: 65.1526 - mean_squared_error: 64.9751 - val_loss: 53.0888 - val_mean_squared_error: 52.9113
Epoch 14/100
120/120 [==============================] - 0s 3ms/step - loss: 62.3749 - mean_squared_error: 62.1966 - val_loss: 51.6438 - val_mean_squared_error: 51.4656
Epoch 15/100
120/120 [==============================] - 0s 3ms/step - loss: 61.6884 - mean_squared_error: 61.5098 - val_loss: 53.1668 - val_mean_squared_error: 52.9880
Epoch 16/100
120/120 [==============================] - 0s 3ms/step - loss: 59.7120 - mean_squared_error: 59.5324 - val_loss: 49.0060 - val_mean_squared_error: 48.8261
Epoch 17/100
120/120 [==============================] - 0s 3ms/step - loss: 60.4321 - mean_squared_error: 60.2519 - val_loss: 54.4287 - val_mean_squared_error: 54.2488
Epoch 18/100
120/120 [==============================] - 0s 3ms/step - loss: 58.6099 - mean_squared_error: 58.4289 - val_loss: 49.5762 - val_mean_squared_error: 49.3945
Epoch 19/100
120/120 [==============================] - 0s 3ms/step - loss: 58.6393 - mean_squared_error: 58.4573 - val_loss: 51.8370 - val_mean_squared_error: 51.6551
Epoch 20/100
120/120 [==============================] - 0s 3ms/step - loss: 60.6695 - mean_squared_error: 60.4870 - val_loss: 47.4289 - val_mean_squared_error: 47.2463
Epoch 21/100
120/120 [==============================] - 0s 3ms/step - loss: 59.6948 - mean_squared_error: 59.5121 - val_loss: 47.9584 - val_mean_squared_error: 47.7751
Epoch 22/100
120/120 [==============================] - 0s 3ms/step - loss: 59.9227 - mean_squared_error: 59.7390 - val_loss: 48.5583 - val_mean_squared_error: 48.3743
Epoch 23/100
120/120 [==============================] - 0s 3ms/step - loss: 58.4229 - mean_squared_error: 58.2386 - val_loss: 46.9852 - val_mean_squared_error: 46.8003
Epoch 24/100
120/120 [==============================] - 0s 3ms/step - loss: 56.0985 - mean_squared_error: 55.9126 - val_loss: 48.0433 - val_mean_squared_error: 47.8570
Epoch 25/100
120/120 [==============================] - 0s 3ms/step - loss: 57.6641 - mean_squared_error: 57.4771 - val_loss: 50.9195 - val_mean_squared_error: 50.7323
Epoch 26/100
120/120 [==============================] - 0s 3ms/step - loss: 59.1591 - mean_squared_error: 58.9716 - val_loss: 48.5429 - val_mean_squared_error: 48.3548
Epoch 27/100
120/120 [==============================] - 0s 3ms/step - loss: 55.3872 - mean_squared_error: 55.1981 - val_loss: 46.2713 - val_mean_squared_error: 46.0813
Epoch 28/100
120/120 [==============================] - 0s 3ms/step - loss: 59.0719 - mean_squared_error: 58.8815 - val_loss: 49.6502 - val_mean_squared_error: 49.4596
Epoch 29/100
120/120 [==============================] - 0s 3ms/step - loss: 54.9021 - mean_squared_error: 54.7111 - val_loss: 48.6504 - val_mean_squared_error: 48.4587
Epoch 30/100
120/120 [==============================] - 0s 3ms/step - loss: 59.3239 - mean_squared_error: 59.1317 - val_loss: 47.6736 - val_mean_squared_error: 47.4811
Epoch 31/100
120/120 [==============================] - 0s 3ms/step - loss: 55.1213 - mean_squared_error: 54.9278 - val_loss: 47.3002 - val_mean_squared_error: 47.1059
Epoch 32/100
120/120 [==============================] - 0s 3ms/step - loss: 53.8519 - mean_squared_error: 53.6567 - val_loss: 48.8105 - val_mean_squared_error: 48.6152
Epoch 33/100
120/120 [==============================] - 0s 3ms/step - loss: 54.6231 - mean_squared_error: 54.4272 - val_loss: 48.7698 - val_mean_squared_error: 48.5736
Epoch 34/100
120/120 [==============================] - 0s 3ms/step - loss: 63.2432 - mean_squared_error: 63.0471 - val_loss: 49.7869 - val_mean_squared_error: 49.5911
Epoch 35/100
120/120 [==============================] - 0s 3ms/step - loss: 55.8598 - mean_squared_error: 55.6633 - val_loss: 49.0686 - val_mean_squared_error: 48.8713
Epoch 36/100
120/120 [==============================] - 0s 3ms/step - loss: 53.8523 - mean_squared_error: 53.6545 - val_loss: 46.7565 - val_mean_squared_error: 46.5581
Epoch 37/100
120/120 [==============================] - 0s 3ms/step - loss: 54.8430 - mean_squared_error: 54.6437 - val_loss: 50.3742 - val_mean_squared_error: 50.1755
Epoch 38/100
120/120 [==============================] - 0s 3ms/step - loss: 53.6028 - mean_squared_error: 53.4029 - val_loss: 44.4249 - val_mean_squared_error: 44.2242
Epoch 39/100
120/120 [==============================] - 0s 3ms/step - loss: 55.2564 - mean_squared_error: 55.0551 - val_loss: 50.7720 - val_mean_squared_error: 50.5701
Epoch 40/100
120/120 [==============================] - 0s 3ms/step - loss: 53.8812 - mean_squared_error: 53.6782 - val_loss: 48.9866 - val_mean_squared_error: 48.7833
Epoch 41/100
120/120 [==============================] - 0s 3ms/step - loss: 55.2198 - mean_squared_error: 55.0158 - val_loss: 47.2943 - val_mean_squared_error: 47.0900
Epoch 42/100
120/120 [==============================] - 0s 3ms/step - loss: 53.7722 - mean_squared_error: 53.5676 - val_loss: 48.0970 - val_mean_squared_error: 47.8923
Epoch 43/100
120/120 [==============================] - 0s 3ms/step - loss: 52.4606 - mean_squared_error: 52.2548 - val_loss: 46.2623 - val_mean_squared_error: 46.0557
Epoch 44/100
120/120 [==============================] - 0s 3ms/step - loss: 51.2997 - mean_squared_error: 51.0925 - val_loss: 48.2985 - val_mean_squared_error: 48.0906
Epoch 45/100
120/120 [==============================] - 0s 3ms/step - loss: 56.1029 - mean_squared_error: 55.8949 - val_loss: 47.2247 - val_mean_squared_error: 47.0163
Epoch 46/100
120/120 [==============================] - 0s 3ms/step - loss: 53.1085 - mean_squared_error: 52.9001 - val_loss: 51.0508 - val_mean_squared_error: 50.8426
Epoch 47/100
120/120 [==============================] - 0s 3ms/step - loss: 50.9229 - mean_squared_error: 50.7134 - val_loss: 45.1417 - val_mean_squared_error: 44.9315
Epoch 48/100
120/120 [==============================] - 0s 3ms/step - loss: 51.8412 - mean_squared_error: 51.6295 - val_loss: 47.9774 - val_mean_squared_error: 47.7647
Epoch 49/100
120/120 [==============================] - 0s 3ms/step - loss: 50.8800 - mean_squared_error: 50.6666 - val_loss: 43.6579 - val_mean_squared_error: 43.4435
Epoch 50/100
120/120 [==============================] - 0s 3ms/step - loss: 47.9289 - mean_squared_error: 47.7146 - val_loss: 44.7883 - val_mean_squared_error: 44.5735
Epoch 51/100
120/120 [==============================] - 0s 3ms/step - loss: 48.5597 - mean_squared_error: 48.3446 - val_loss: 47.3005 - val_mean_squared_error: 47.0848
Epoch 52/100
120/120 [==============================] - 0s 3ms/step - loss: 51.3661 - mean_squared_error: 51.1492 - val_loss: 49.0945 - val_mean_squared_error: 48.8763
Epoch 53/100
120/120 [==============================] - 0s 3ms/step - loss: 53.0523 - mean_squared_error: 52.8332 - val_loss: 52.9360 - val_mean_squared_error: 52.7175
Epoch 54/100
120/120 [==============================] - 0s 3ms/step - loss: 53.3714 - mean_squared_error: 53.1521 - val_loss: 48.8255 - val_mean_squared_error: 48.6060
Epoch 55/100
120/120 [==============================] - 0s 3ms/step - loss: 49.4648 - mean_squared_error: 49.2431 - val_loss: 44.5878 - val_mean_squared_error: 44.3647
Epoch 56/100
120/120 [==============================] - 0s 3ms/step - loss: 51.9056 - mean_squared_error: 51.6830 - val_loss: 50.4800 - val_mean_squared_error: 50.2578
Epoch 57/100
120/120 [==============================] - 0s 3ms/step - loss: 51.1432 - mean_squared_error: 50.9194 - val_loss: 48.0323 - val_mean_squared_error: 47.8084
Epoch 58/100
120/120 [==============================] - 0s 3ms/step - loss: 53.2055 - mean_squared_error: 52.9813 - val_loss: 48.4036 - val_mean_squared_error: 48.1791
Epoch 59/100
120/120 [==============================] - 0s 3ms/step - loss: 49.6498 - mean_squared_error: 49.4247 - val_loss: 48.2023 - val_mean_squared_error: 47.9761
Epoch 60/100
120/120 [==============================] - 0s 3ms/step - loss: 52.6339 - mean_squared_error: 52.4069 - val_loss: 47.6611 - val_mean_squared_error: 47.4339
Epoch 61/100
120/120 [==============================] - 0s 3ms/step - loss: 51.9922 - mean_squared_error: 51.7644 - val_loss: 48.0061 - val_mean_squared_error: 47.7776
Epoch 62/100
120/120 [==============================] - 0s 3ms/step - loss: 48.8369 - mean_squared_error: 48.6071 - val_loss: 44.9044 - val_mean_squared_error: 44.6737
Epoch 63/100
120/120 [==============================] - 0s 3ms/step - loss: 52.4288 - mean_squared_error: 52.1980 - val_loss: 52.0025 - val_mean_squared_error: 51.7710
Epoch 64/100
120/120 [==============================] - 0s 3ms/step - loss: 49.0933 - mean_squared_error: 48.8604 - val_loss: 47.7321 - val_mean_squared_error: 47.4979
Epoch 65/100
120/120 [==============================] - 0s 3ms/step - loss: 50.2294 - mean_squared_error: 49.9942 - val_loss: 47.7338 - val_mean_squared_error: 47.4977
Epoch 66/100
120/120 [==============================] - 0s 3ms/step - loss: 48.6730 - mean_squared_error: 48.4361 - val_loss: 45.5703 - val_mean_squared_error: 45.3316
Epoch 67/100
120/120 [==============================] - 0s 3ms/step - loss: 45.8527 - mean_squared_error: 45.6127 - val_loss: 46.8881 - val_mean_squared_error: 46.6470
Epoch 68/100
120/120 [==============================] - 0s 3ms/step - loss: 53.2316 - mean_squared_error: 52.9900 - val_loss: 46.8703 - val_mean_squared_error: 46.6279
Epoch 69/100
120/120 [==============================] - 0s 3ms/step - loss: 49.8032 - mean_squared_error: 49.5606 - val_loss: 48.9712 - val_mean_squared_error: 48.7287
Epoch 70/100
120/120 [==============================] - 0s 3ms/step - loss: 47.3076 - mean_squared_error: 47.0633 - val_loss: 46.4870 - val_mean_squared_error: 46.2414
Epoch 71/100
120/120 [==============================] - 0s 3ms/step - loss: 48.7522 - mean_squared_error: 48.5057 - val_loss: 44.6502 - val_mean_squared_error: 44.4016
Epoch 72/100
120/120 [==============================] - 0s 3ms/step - loss: 49.9733 - mean_squared_error: 49.7244 - val_loss: 49.2355 - val_mean_squared_error: 48.9864
Epoch 73/100
120/120 [==============================] - 0s 3ms/step - loss: 52.1713 - mean_squared_error: 51.9218 - val_loss: 47.3201 - val_mean_squared_error: 47.0709
Epoch 74/100
120/120 [==============================] - 0s 3ms/step - loss: 47.9926 - mean_squared_error: 47.7434 - val_loss: 46.5612 - val_mean_squared_error: 46.3113
Epoch 75/100
120/120 [==============================] - 0s 3ms/step - loss: 48.2883 - mean_squared_error: 48.0374 - val_loss: 46.8722 - val_mean_squared_error: 46.6200
Epoch 76/100
120/120 [==============================] - 0s 3ms/step - loss: 49.0375 - mean_squared_error: 48.7849 - val_loss: 44.3847 - val_mean_squared_error: 44.1302
Epoch 77/100
120/120 [==============================] - 0s 3ms/step - loss: 48.9497 - mean_squared_error: 48.6946 - val_loss: 51.2532 - val_mean_squared_error: 50.9987
Epoch 78/100
120/120 [==============================] - 0s 3ms/step - loss: 47.9978 - mean_squared_error: 47.7418 - val_loss: 52.0219 - val_mean_squared_error: 51.7651
Epoch 79/100
120/120 [==============================] - 0s 3ms/step - loss: 52.4491 - mean_squared_error: 52.1903 - val_loss: 50.7161 - val_mean_squared_error: 50.4569
Epoch 80/100
120/120 [==============================] - 0s 3ms/step - loss: 50.5381 - mean_squared_error: 50.2782 - val_loss: 50.4028 - val_mean_squared_error: 50.1421
Epoch 81/100
120/120 [==============================] - 0s 3ms/step - loss: 49.8564 - mean_squared_error: 49.5946 - val_loss: 48.9793 - val_mean_squared_error: 48.7172
Epoch 82/100
120/120 [==============================] - 0s 3ms/step - loss: 48.0327 - mean_squared_error: 47.7698 - val_loss: 47.2186 - val_mean_squared_error: 46.9549
Epoch 83/100
120/120 [==============================] - 0s 3ms/step - loss: 45.2710 - mean_squared_error: 45.0067 - val_loss: 48.4628 - val_mean_squared_error: 48.1984
Epoch 84/100
120/120 [==============================] - 0s 3ms/step - loss: 49.8923 - mean_squared_error: 49.6265 - val_loss: 52.2144 - val_mean_squared_error: 51.9485
Epoch 85/100
120/120 [==============================] - 0s 3ms/step - loss: 49.8929 - mean_squared_error: 49.6254 - val_loss: 48.4731 - val_mean_squared_error: 48.2047
Epoch 86/100
120/120 [==============================] - 0s 3ms/step - loss: 51.3955 - mean_squared_error: 51.1271 - val_loss: 44.2316 - val_mean_squared_error: 43.9620
Epoch 87/100
120/120 [==============================] - 0s 3ms/step - loss: 50.2101 - mean_squared_error: 49.9403 - val_loss: 49.3008 - val_mean_squared_error: 49.0307
Epoch 88/100
120/120 [==============================] - 0s 3ms/step - loss: 46.7014 - mean_squared_error: 46.4304 - val_loss: 45.4377 - val_mean_squared_error: 45.1649
Epoch 89/100
120/120 [==============================] - 0s 3ms/step - loss: 48.7840 - mean_squared_error: 48.5091 - val_loss: 47.0897 - val_mean_squared_error: 46.8139
Epoch 90/100
120/120 [==============================] - 1s 5ms/step - loss: 52.3875 - mean_squared_error: 52.1119 - val_loss: 50.4553 - val_mean_squared_error: 50.1810
Epoch 91/100
120/120 [==============================] - 0s 3ms/step - loss: 47.7230 - mean_squared_error: 47.4462 - val_loss: 48.6787 - val_mean_squared_error: 48.4006
Epoch 92/100
120/120 [==============================] - 0s 3ms/step - loss: 49.0136 - mean_squared_error: 48.7346 - val_loss: 48.0475 - val_mean_squared_error: 47.7679
Epoch 93/100
120/120 [==============================] - 0s 3ms/step - loss: 49.6168 - mean_squared_error: 49.3373 - val_loss: 46.4017 - val_mean_squared_error: 46.1216
Epoch 94/100
120/120 [==============================] - 0s 3ms/step - loss: 49.7216 - mean_squared_error: 49.4404 - val_loss: 44.6831 - val_mean_squared_error: 44.3993
Epoch 95/100
120/120 [==============================] - 0s 3ms/step - loss: 47.0668 - mean_squared_error: 46.7826 - val_loss: 49.2305 - val_mean_squared_error: 48.9465
Epoch 96/100
120/120 [==============================] - 0s 3ms/step - loss: 47.0233 - mean_squared_error: 46.7376 - val_loss: 52.3842 - val_mean_squared_error: 52.0982
Epoch 97/100
120/120 [==============================] - 0s 3ms/step - loss: 54.6514 - mean_squared_error: 54.3660 - val_loss: 50.1835 - val_mean_squared_error: 49.8975
Epoch 98/100
120/120 [==============================] - 0s 3ms/step - loss: 49.0298 - mean_squared_error: 48.7421 - val_loss: 47.2180 - val_mean_squared_error: 46.9283
Epoch 99/100
120/120 [==============================] - 0s 3ms/step - loss: 49.4229 - mean_squared_error: 49.1321 - val_loss: 49.5576 - val_mean_squared_error: 49.2660
Epoch 100/100
120/120 [==============================] - 0s 3ms/step - loss: 45.5291 - mean_squared_error: 45.2355 - val_loss: 52.2354 - val_mean_squared_error: 51.9426
Accuracy on Training set: -41.5347785949707
Accuracy on Testing set: -59.18058395385742
		Error Table
Mean Absolute Error      :  3.609532851039615
Mean Squared  Error      :  59.88777014744702
Root Mean Squared  Error :  7.738718895750576
R Squared Error          :  0.5080429811265847