<a href="https://colab.research.google.com/github/Nirjhargope/Used-Car-Price-Prediction/blob/main/nirjhar_gope_work_on_used_car_price_prediction_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [ ]:
train_data = pd.read_csv('../input/used-cars-price-prediction/train-data.csv')
test_data = pd.read_csv('../input/used-cars-price-prediction/test-data.csv')

In [ ]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6019 entries, 0 to 6018
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         6019 non-null   int64
 1   Name               6019 non-null   object
 2   Location           6019 non-null   object
 3   Year               6019 non-null   int64
 4   Kilometers_Driven  6019 non-null   int64
 5   Fuel_Type          6019 non-null   object
 6   Transmission       6019 non-null   object
 7   Owner_Type         6019 non-null   object
 8   Mileage            6017 non-null   object
 9   Engine             5983 non-null   object
 10  Power              5983 non-null   object
 11  Seats              5977 non-null   float64
 12  New_Price          824 non-null    object
 13  Price              6019 non-null   float64
dtypes: float64(2), int64(3), object(9)
memory usage: 658.5+ KB

In [ ]:
train_data = train_data.iloc[:,1:]
train_data.head()

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,NaN,1.75
1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74

In [ ]:
train_data.describe()

              Year  Kilometers_Driven        Seats        Price
count  6019.000000       6.019000e+03  5977.000000  6019.000000
mean   2013.358199       5.873838e+04     5.278735     9.479468
std       3.269742       9.126884e+04     0.808840    11.187917
min    1998.000000       1.710000e+02     0.000000     0.440000
25%    2011.000000       3.400000e+04     5.000000     3.500000
50%    2014.000000       5.300000e+04     5.000000     5.640000
75%    2016.000000       7.300000e+04     5.000000     9.950000
max    2019.000000       6.500000e+06    10.000000   160.000000

In [ ]:
train_data.shape

(6019, 13)

In [ ]:
# Looking ate the unique values of Categorical Features
print(train_data['Location'].unique())
print(train_data['Fuel_Type'].unique())
print(train_data['Transmission'].unique())
print(train_data['Owner_Type'].unique())

['Mumbai' 'Pune' 'Chennai' 'Coimbatore' 'Hyderabad' 'Jaipur' 'Kochi'
 'Kolkata' 'Delhi' 'Bangalore' 'Ahmedabad']
['CNG' 'Diesel' 'Petrol' 'LPG' 'Electric']
['Manual' 'Automatic']
['First' 'Second' 'Fourth & Above' 'Third']

In [ ]:
train_data.isnull().sum()

Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 36
Power                  36
Seats                  42
New_Price            5195
Price                   0
dtype: int64

In [ ]:
train_data = train_data[train_data['Mileage'].notna()]
train_data = train_data[train_data['Engine'].notna()]
train_data = train_data[train_data['Power'].notna()]
train_data = train_data[train_data['Seats'].notna()]

In [ ]:
train_data = train_data.reset_index(drop=True)

In [ ]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5975 entries, 0 to 5974
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               5975 non-null   object
 1   Location           5975 non-null   object
 2   Year               5975 non-null   int64
 3   Kilometers_Driven  5975 non-null   int64
 4   Fuel_Type          5975 non-null   object
 5   Transmission       5975 non-null   object
 6   Owner_Type         5975 non-null   object
 7   Mileage            5975 non-null   object
 8   Engine             5975 non-null   object
 9   Power              5975 non-null   object
 10  Seats              5975 non-null   float64
 11  New_Price          823 non-null    object
 12  Price              5975 non-null   float64
dtypes: float64(2), int64(2), object(9)
memory usage: 607.0+ KB

In [ ]:
train_data['Price'].describe()

count    5975.000000
mean        9.501647
std        11.205736
min         0.440000
25%         3.500000
50%         5.650000
75%         9.950000
max       160.000000
Name: Price, dtype: float64

In [ ]:
train_data['Fuel_Type'].describe()

count       5975
unique         4
top       Diesel
freq        3195
Name: Fuel_Type, dtype: object

In [ ]:
var = 'Location'
train_data[var].value_counts()

Mumbai        784
Hyderabad     741
Kochi         648
Coimbatore    634
Pune          613
Delhi         549
Kolkata       530
Chennai       490
Jaipur        410
Bangalore     353
Ahmedabad     223
Name: Location, dtype: int64

In [ ]:
Location = train_data[[var]]
Location = pd.get_dummies(Location,drop_first=True)
Location.head()

,Location_Bangalore,Location_Chennai,Location_Coimbatore,Location_Delhi,Location_Hyderabad,Location_Jaipur,Location_Kochi,Location_Kolkata,Location_Mumbai,Location_Pune
0,0,0,0,0,0,0,0,0,1,0
1,0,0,0,0,0,0,0,0,0,1
2,0,1,0,0,0,0,0,0,0,0
3,0,1,0,0,0,0,0,0,0,0
4,0,0,1,0,0,0,0,0,0,0

In [ ]:
var = 'Fuel_Type'
train_data[var].value_counts()

Diesel    3195
Petrol    2714
CNG         56
LPG         10
Name: Fuel_Type, dtype: int64

In [ ]:
Fuel_t = train_data[[var]]
Fuel_t = pd.get_dummies(Fuel_t,drop_first=True)
Fuel_t.head()

   Fuel_Type_Diesel  Fuel_Type_LPG  Fuel_Type_Petrol
0                 0              0                 0
1                 1              0                 0
2                 0              0                 1
3                 1              0                 0
4                 1              0                 0

In [ ]:
var = 'Transmission'
train_data[var].value_counts()

Manual       4266
Automatic    1709
Name: Transmission, dtype: int64

In [ ]:
Transmission = train_data[[var]]
Transmission = pd.get_dummies(Transmission,drop_first=True)
Transmission.head()

   Transmission_Manual
0                    1
1                    1
2                    1
3                    1
4                    0

In [ ]:
var = 'Owner_Type'
train_data[var].value_counts()

First             4903
Second             953
Third              111
Fourth & Above       8
Name: Owner_Type, dtype: int64

In [ ]:
train_data.replace({"First":1,"Second":2,"Third": 3,"Fourth & Above":4},inplace=True)
train_data.head()

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,1,26.6 km/kg,998 CC,58.16 bhp,5.0,NaN,1.75
1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,1,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,1,18.2 kmpl,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,1,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,2,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74

In [ ]:
var = 'Name'
train_data[var].value_counts()

Mahindra XUV500 W8 2WD                       49
Maruti Swift VDI                             45
Maruti Swift Dzire VDI                       34
Honda City 1.5 S MT                          34
Maruti Swift VDI BSIV                        31
                                             ..
Mahindra XUV500 W10 1.99 mHawk                1
Hyundai Creta 1.4 CRDi S                      1
Hyundai EON 1.0 Kappa Magna Plus Optional     1
Hyundai i20 1.2 Era                           1
Nissan Micra Active XL Petrol                 1
Name: Name, Length: 1855, dtype: int64

In [ ]:
train_data.drop(["Name"],axis=1,inplace=True)

In [ ]:
final_train= pd.concat([train_data,Location,Fuel_t,Transmission],axis=1)
final_train.head()

,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,...,Location_Hyderabad,Location_Jaipur,Location_Kochi,Location_Kolkata,Location_Mumbai,Location_Pune,Fuel_Type_Diesel,Fuel_Type_LPG,Fuel_Type_Petrol,Transmission_Manual
0,Mumbai,2010,72000,CNG,Manual,1,26.6 km/kg,998 CC,58.16 bhp,5.0,...,0,0,0,0,1,0,0,0,0,1
1,Pune,2015,41000,Diesel,Manual,1,19.67 kmpl,1582 CC,126.2 bhp,5.0,...,0,0,0,0,0,1,1,0,0,1
2,Chennai,2011,46000,Petrol,Manual,1,18.2 kmpl,1199 CC,88.7 bhp,5.0,...,0,0,0,0,0,0,0,0,1,1
3,Chennai,2012,87000,Diesel,Manual,1,20.77 kmpl,1248 CC,88.76 bhp,7.0,...,0,0,0,0,0,0,1,0,0,1
4,Coimbatore,2013,40670,Diesel,Automatic,2,15.2 kmpl,1968 CC,140.8 bhp,5.0,...,0,0,0,0,0,0,1,0,0,0

In [ ]:
final_train.drop(["Location","Fuel_Type","Transmission","New_Price"],axis=1,inplace=True)
final_train.head()

,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,Price,Location_Bangalore,Location_Chennai,...,Location_Hyderabad,Location_Jaipur,Location_Kochi,Location_Kolkata,Location_Mumbai,Location_Pune,Fuel_Type_Diesel,Fuel_Type_LPG,Fuel_Type_Petrol,Transmission_Manual
0,2010,72000,1,26.6 km/kg,998 CC,58.16 bhp,5.0,1.75,0,0,...,0,0,0,0,1,0,0,0,0,1
1,2015,41000,1,19.67 kmpl,1582 CC,126.2 bhp,5.0,12.50,0,0,...,0,0,0,0,0,1,1,0,0,1
2,2011,46000,1,18.2 kmpl,1199 CC,88.7 bhp,5.0,4.50,0,1,...,0,0,0,0,0,0,0,0,1,1
3,2012,87000,1,20.77 kmpl,1248 CC,88.76 bhp,7.0,6.00,0,1,...,0,0,0,0,0,0,1,0,0,1
4,2013,40670,2,15.2 kmpl,1968 CC,140.8 bhp,5.0,17.74,0,0,...,0,0,0,0,0,0,1,0,0,0

In [ ]:
final_train.shape

(5975, 22)

In [ ]:
final_train= pd.concat([train_data,Location,Fuel_t,Transmission],axis=1)
final_train.head()

,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,...,Location_Hyderabad,Location_Jaipur,Location_Kochi,Location_Kolkata,Location_Mumbai,Location_Pune,Fuel_Type_Diesel,Fuel_Type_LPG,Fuel_Type_Petrol,Transmission_Manual
0,Mumbai,2010,72000,CNG,Manual,1,26.6 km/kg,998 CC,58.16 bhp,5.0,...,0,0,0,0,1,0,0,0,0,1
1,Pune,2015,41000,Diesel,Manual,1,19.67 kmpl,1582 CC,126.2 bhp,5.0,...,0,0,0,0,0,1,1,0,0,1
2,Chennai,2011,46000,Petrol,Manual,1,18.2 kmpl,1199 CC,88.7 bhp,5.0,...,0,0,0,0,0,0,0,0,1,1
3,Chennai,2012,87000,Diesel,Manual,1,20.77 kmpl,1248 CC,88.76 bhp,7.0,...,0,0,0,0,0,0,1,0,0,1
4,Coimbatore,2013,40670,Diesel,Automatic,2,15.2 kmpl,1968 CC,140.8 bhp,5.0,...,0,0,0,0,0,0,1,0,0,0

In [ ]:
final_train.shape

(5975, 26)

In [ ]:
test_data.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price
0,0,Maruti Alto K10 LXI CNG,Delhi,2014,40929,CNG,Manual,First,32.26 km/kg,998 CC,58.2 bhp,4.0,NaN
1,1,Maruti Alto 800 2016-2019 LXI,Coimbatore,2013,54493,Petrol,Manual,Second,24.7 kmpl,796 CC,47.3 bhp,5.0,NaN
2,2,Toyota Innova Crysta Touring Sport 2.4 MT,Mumbai,2017,34000,Diesel,Manual,First,13.68 kmpl,2393 CC,147.8 bhp,7.0,25.27 Lakh
3,3,Toyota Etios Liva GD,Hyderabad,2012,139000,Diesel,Manual,First,23.59 kmpl,1364 CC,null bhp,5.0,NaN
4,4,Hyundai i20 Magna,Mumbai,2014,29000,Petrol,Manual,First,18.5 kmpl,1197 CC,82.85 bhp,5.0,NaN

In [ ]:
test_data = test_data.iloc[:,1:]

test_data = test_data[test_data['Mileage'].notna()]
test_data = test_data[test_data['Engine'].notna()]
test_data = test_data[test_data['Power'].notna()]
test_data = test_data[test_data['Seats'].notna()]

test_data = test_data.reset_index(drop=True)

var = 'Location'
Location = test_data[[var]]
Location = pd.get_dummies(Location,drop_first=True)
Location.head()

var = 'Fuel_Type'
Fuel_t = test_data[[var]]
Fuel_t = pd.get_dummies(Fuel_t,drop_first=True)
Fuel_t.head()

var = 'Transmission'
Transmission = test_data[[var]]
Transmission = pd.get_dummies(Transmission,drop_first=True)
Transmission.head()

test_data.replace({"First":1,"Second":2,"Third": 3,"Fourth & Above":4},inplace=True)
test_data.head()

final_test= pd.concat([test_data,Location,Fuel_t,Transmission],axis=1)
final_test.head()

final_test.drop(["Location","Fuel_Type","Transmission","New_Price"],axis=1,inplace=True)
final_test.head()

print("Final Test Size: ",final_test.shape)

Final Test Size:  (1223, 22)

In [ ]:
final_test.head()

,Name,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,Location_Bangalore,Location_Chennai,...,Location_Hyderabad,Location_Jaipur,Location_Kochi,Location_Kolkata,Location_Mumbai,Location_Pune,Fuel_Type_Diesel,Fuel_Type_LPG,Fuel_Type_Petrol,Transmission_Manual
0,Maruti Alto K10 LXI CNG,2014,40929,1,32.26 km/kg,998 CC,58.2 bhp,4.0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,Maruti Alto 800 2016-2019 LXI,2013,54493,2,24.7 kmpl,796 CC,47.3 bhp,5.0,0,0,...,0,0,0,0,0,0,0,0,1,1
2,Toyota Innova Crysta Touring Sport 2.4 MT,2017,34000,1,13.68 kmpl,2393 CC,147.8 bhp,7.0,0,0,...,0,0,0,0,1,0,1,0,0,1
3,Toyota Etios Liva GD,2012,139000,1,23.59 kmpl,1364 CC,null bhp,5.0,0,0,...,1,0,0,0,0,0,1,0,0,1
4,Hyundai i20 Magna,2014,29000,1,18.5 kmpl,1197 CC,82.85 bhp,5.0,0,0,...,0,0,0,0,1,0,0,0,1,1

In [ ]:
final_train.columns

Index(['Location', 'Year', 'Kilometers_Driven', 'Fuel_Type', 'Transmission',
       'Owner_Type', 'Mileage', 'Engine', 'Power', 'Seats', 'New_Price',
       'Price', 'Location_Bangalore', 'Location_Chennai',
       'Location_Coimbatore', 'Location_Delhi', 'Location_Hyderabad',
       'Location_Jaipur', 'Location_Kochi', 'Location_Kolkata',
       'Location_Mumbai', 'Location_Pune', 'Fuel_Type_Diesel', 'Fuel_Type_LPG',
       'Fuel_Type_Petrol', 'Transmission_Manual'],
      dtype='object')

In [ ]:
y = final_train.loc[:,['Price']]
y.head()

   Price
0   1.75
1  12.50
2   4.50
3   6.00
4  17.74

In [ ]:
X = final_train.loc[:,['Year', 'Kilometers_Driven', 'Owner_Type', 'Seats',
       'Location_Bangalore', 'Location_Chennai', 'Location_Coimbatore',
       'Location_Delhi', 'Location_Hyderabad', 'Location_Jaipur',
       'Location_Kochi', 'Location_Kolkata', 'Location_Mumbai',
       'Location_Pune', 'Fuel_Type_Diesel', 'Fuel_Type_LPG',
       'Fuel_Type_Petrol', 'Transmission_Manual']]
X.shape

(5975, 18)

In [ ]:
y = final_train.loc[:,['Price']]
y.head()

   Price
0   1.75
1  12.50
2   4.50
3   6.00
4  17.74

In [ ]:
from sklearn.ensemble import ExtraTreesRegressor
selection= ExtraTreesRegressor()
selection.fit(X,y)

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

ExtraTreesRegressor()

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 25)

 Linear Regression

In [ ]:
from sklearn.linear_model import LinearRegression
linear_reg = LinearRegression()
linear_reg.fit(X_train, y_train)
y_pred= linear_reg.predict(X_test)
print("Accuracy on Traing set: ",linear_reg.score(X_train,y_train))
print("Accuracy on Testing set: ",linear_reg.score(X_test,y_test))

Accuracy on Traing set:  0.48371330287141245
Accuracy on Testing set:  0.07105280579988249

Random Forest Regressor

In [ ]:
from sklearn.ensemble import RandomForestRegressor
rf_reg = RandomForestRegressor()
rf_reg.fit(X_train, y_train)
y_pred= rf_reg.predict(X_test)
print("Accuracy on Traing set: ",rf_reg.score(X_train,y_train))
print("Accuracy on Testing set: ",rf_reg.score(X_test,y_test))

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

Accuracy on Traing set:  0.9425351324445937
Accuracy on Testing set:  0.5484755578808167

In [ ]:
from sklearn import metrics
from sklearn.metrics import mean_squared_error, mean_absolute_error

print("\t\tError Table")
print('Mean Absolute Error      : ', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared  Error      : ', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared  Error : ', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))
print('R Squared Error          : ', metrics.r2_score(y_test, y_pred))

		Error Table
Mean Absolute Error      :  3.5327743640831506
Mean Squared  Error      :  54.9657611705825
Root Mean Squared  Error :  7.413889746319573
R Squared Error          :  0.5484755578808167

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.optimizers import Adam
from sklearn import metrics


scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

# Define the neural network model
model = Sequential()
model.add(Dense(128, input_dim=X_train.shape[1], activation='relu'))
model.add(Dense(64, activation='relu'))
model.add(Dense(32, activation='relu'))
model.add(Dense(1))  # Output layer for regression task


model.compile(loss='mean_squared_error', optimizer=Adam(learning_rate=0.001), metrics=['mean_squared_error'])


history = model.fit(X_train, y_train, epochs=100, batch_size=32, validation_split=0.2, verbose=1)


y_pred = model.predict(X_test)

train_loss = model.evaluate(X_train, y_train, verbose=0)
test_loss = model.evaluate(X_test, y_test, verbose=0)

print("Accuracy on Training set:", 1 - train_loss[0])
print("Accuracy on Testing set:", 1 - test_loss[0])

print("\t\tError Table")
print('Mean Absolute Error      : ', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared  Error      : ', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared  Error : ', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))
print('R Squared Error          : ', metrics.r2_score(y_test, y_pred))

Epoch 1/100
120/120 [==============================] - 0s 3ms/step - loss: 104.0837 - mean_squared_error: 104.0837 - val_loss: 48.8184 - val_mean_squared_error: 48.8184
Epoch 2/100
120/120 [==============================] - 0s 3ms/step - loss: 53.9535 - mean_squared_error: 53.9535 - val_loss: 43.7328 - val_mean_squared_error: 43.7328
Epoch 3/100
120/120 [==============================] - 0s 3ms/step - loss: 50.2971 - mean_squared_error: 50.2971 - val_loss: 41.9912 - val_mean_squared_error: 41.9912
Epoch 4/100
120/120 [==============================] - 0s 3ms/step - loss: 47.4953 - mean_squared_error: 47.4953 - val_loss: 43.5753 - val_mean_squared_error: 43.5753
Epoch 5/100
120/120 [==============================] - 0s 2ms/step - loss: 45.7281 - mean_squared_error: 45.7281 - val_loss: 41.8792 - val_mean_squared_error: 41.8792
Epoch 6/100
120/120 [==============================] - 0s 2ms/step - loss: 44.0839 - mean_squared_error: 44.0839 - val_loss: 43.4442 - val_mean_squared_error: 43.4442
Epoch 7/100
120/120 [==============================] - 0s 2ms/step - loss: 42.9976 - mean_squared_error: 42.9976 - val_loss: 43.8013 - val_mean_squared_error: 43.8013
Epoch 8/100
120/120 [==============================] - 0s 2ms/step - loss: 42.6770 - mean_squared_error: 42.6770 - val_loss: 43.2348 - val_mean_squared_error: 43.2348
Epoch 9/100
120/120 [==============================] - 0s 3ms/step - loss: 41.6597 - mean_squared_error: 41.6597 - val_loss: 45.0549 - val_mean_squared_error: 45.0549
Epoch 10/100
120/120 [==============================] - 0s 2ms/step - loss: 41.9700 - mean_squared_error: 41.9700 - val_loss: 44.2369 - val_mean_squared_error: 44.2369
Epoch 11/100
120/120 [==============================] - 0s 2ms/step - loss: 41.0123 - mean_squared_error: 41.0123 - val_loss: 45.6242 - val_mean_squared_error: 45.6242
Epoch 12/100
120/120 [==============================] - 0s 2ms/step - loss: 40.9737 - mean_squared_error: 40.9737 - val_loss: 46.0443 - val_mean_squared_error: 46.0443
Epoch 13/100
120/120 [==============================] - 0s 2ms/step - loss: 40.7685 - mean_squared_error: 40.7685 - val_loss: 43.7336 - val_mean_squared_error: 43.7336
Epoch 14/100
120/120 [==============================] - 0s 2ms/step - loss: 39.5611 - mean_squared_error: 39.5611 - val_loss: 45.8692 - val_mean_squared_error: 45.8692
Epoch 15/100
120/120 [==============================] - 0s 2ms/step - loss: 39.0823 - mean_squared_error: 39.0823 - val_loss: 43.9799 - val_mean_squared_error: 43.9799
Epoch 16/100
120/120 [==============================] - 0s 2ms/step - loss: 38.9047 - mean_squared_error: 38.9047 - val_loss: 44.1951 - val_mean_squared_error: 44.1951
Epoch 17/100
120/120 [==============================] - 0s 2ms/step - loss: 38.8805 - mean_squared_error: 38.8805 - val_loss: 44.4265 - val_mean_squared_error: 44.4265
Epoch 18/100
120/120 [==============================] - 0s 2ms/step - loss: 38.8457 - mean_squared_error: 38.8457 - val_loss: 43.4639 - val_mean_squared_error: 43.4639
Epoch 19/100
120/120 [==============================] - 0s 2ms/step - loss: 37.5082 - mean_squared_error: 37.5082 - val_loss: 45.0192 - val_mean_squared_error: 45.0192
Epoch 20/100
120/120 [==============================] - 0s 2ms/step - loss: 37.4193 - mean_squared_error: 37.4193 - val_loss: 45.0020 - val_mean_squared_error: 45.0020
Epoch 21/100
120/120 [==============================] - 0s 2ms/step - loss: 36.9406 - mean_squared_error: 36.9406 - val_loss: 42.2662 - val_mean_squared_error: 42.2662
Epoch 22/100
120/120 [==============================] - 0s 2ms/step - loss: 36.6506 - mean_squared_error: 36.6506 - val_loss: 44.1051 - val_mean_squared_error: 44.1051
Epoch 23/100
120/120 [==============================] - 0s 2ms/step - loss: 36.5299 - mean_squared_error: 36.5299 - val_loss: 41.5771 - val_mean_squared_error: 41.5771
Epoch 24/100
120/120 [==============================] - 0s 2ms/step - loss: 36.2373 - mean_squared_error: 36.2373 - val_loss: 43.3060 - val_mean_squared_error: 43.3060
Epoch 25/100
120/120 [==============================] - 0s 2ms/step - loss: 35.9534 - mean_squared_error: 35.9534 - val_loss: 44.5933 - val_mean_squared_error: 44.5933
Epoch 26/100
120/120 [==============================] - 0s 2ms/step - loss: 36.8442 - mean_squared_error: 36.8442 - val_loss: 44.2968 - val_mean_squared_error: 44.2968
Epoch 27/100
120/120 [==============================] - 0s 3ms/step - loss: 35.3998 - mean_squared_error: 35.3998 - val_loss: 45.2555 - val_mean_squared_error: 45.2555
Epoch 28/100
120/120 [==============================] - 0s 3ms/step - loss: 35.6493 - mean_squared_error: 35.6493 - val_loss: 43.7584 - val_mean_squared_error: 43.7584
Epoch 29/100
120/120 [==============================] - 0s 2ms/step - loss: 35.4031 - mean_squared_error: 35.4031 - val_loss: 42.7782 - val_mean_squared_error: 42.7782
Epoch 30/100
120/120 [==============================] - 0s 2ms/step - loss: 34.8809 - mean_squared_error: 34.8809 - val_loss: 42.2771 - val_mean_squared_error: 42.2771
Epoch 31/100
120/120 [==============================] - 0s 2ms/step - loss: 35.2884 - mean_squared_error: 35.2884 - val_loss: 42.0638 - val_mean_squared_error: 42.0638
Epoch 32/100
120/120 [==============================] - 0s 2ms/step - loss: 34.5966 - mean_squared_error: 34.5966 - val_loss: 43.1878 - val_mean_squared_error: 43.1878
Epoch 33/100
120/120 [==============================] - 0s 2ms/step - loss: 34.4635 - mean_squared_error: 34.4635 - val_loss: 40.2931 - val_mean_squared_error: 40.2931
Epoch 34/100
120/120 [==============================] - 0s 2ms/step - loss: 34.3967 - mean_squared_error: 34.3967 - val_loss: 42.7239 - val_mean_squared_error: 42.7239
Epoch 35/100
120/120 [==============================] - 0s 2ms/step - loss: 34.2979 - mean_squared_error: 34.2979 - val_loss: 42.3817 - val_mean_squared_error: 42.3817
Epoch 36/100
120/120 [==============================] - 0s 2ms/step - loss: 33.9851 - mean_squared_error: 33.9851 - val_loss: 44.7334 - val_mean_squared_error: 44.7334
Epoch 37/100
120/120 [==============================] - 0s 2ms/step - loss: 34.6180 - mean_squared_error: 34.6180 - val_loss: 43.5989 - val_mean_squared_error: 43.5989
Epoch 38/100
120/120 [==============================] - 0s 2ms/step - loss: 34.0971 - mean_squared_error: 34.0971 - val_loss: 42.2119 - val_mean_squared_error: 42.2119
Epoch 39/100
120/120 [==============================] - 0s 2ms/step - loss: 33.6387 - mean_squared_error: 33.6387 - val_loss: 42.1626 - val_mean_squared_error: 42.1626
Epoch 40/100
120/120 [==============================] - 0s 2ms/step - loss: 33.5719 - mean_squared_error: 33.5719 - val_loss: 45.0225 - val_mean_squared_error: 45.0225
Epoch 41/100
120/120 [==============================] - 0s 2ms/step - loss: 33.2578 - mean_squared_error: 33.2578 - val_loss: 42.8399 - val_mean_squared_error: 42.8399
Epoch 42/100
120/120 [==============================] - 0s 2ms/step - loss: 33.4127 - mean_squared_error: 33.4127 - val_loss: 42.0150 - val_mean_squared_error: 42.0150
Epoch 43/100
120/120 [==============================] - 0s 2ms/step - loss: 33.1044 - mean_squared_error: 33.1044 - val_loss: 43.2490 - val_mean_squared_error: 43.2490
Epoch 44/100
120/120 [==============================] - 0s 2ms/step - loss: 33.4772 - mean_squared_error: 33.4772 - val_loss: 40.9130 - val_mean_squared_error: 40.9130
Epoch 45/100
120/120 [==============================] - 0s 2ms/step - loss: 33.0821 - mean_squared_error: 33.0821 - val_loss: 43.7975 - val_mean_squared_error: 43.7975
Epoch 46/100
120/120 [==============================] - 0s 2ms/step - loss: 33.2567 - mean_squared_error: 33.2567 - val_loss: 44.6058 - val_mean_squared_error: 44.6058
Epoch 47/100
120/120 [==============================] - 0s 2ms/step - loss: 32.9277 - mean_squared_error: 32.9277 - val_loss: 42.4613 - val_mean_squared_error: 42.4613
Epoch 48/100
120/120 [==============================] - 0s 2ms/step - loss: 32.7203 - mean_squared_error: 32.7203 - val_loss: 40.9045 - val_mean_squared_error: 40.9045
Epoch 49/100
120/120 [==============================] - 0s 2ms/step - loss: 32.5146 - mean_squared_error: 32.5146 - val_loss: 40.3864 - val_mean_squared_error: 40.3864
Epoch 50/100
120/120 [==============================] - 0s 2ms/step - loss: 32.6989 - mean_squared_error: 32.6989 - val_loss: 42.5225 - val_mean_squared_error: 42.5225
Epoch 51/100
120/120 [==============================] - 0s 2ms/step - loss: 32.2015 - mean_squared_error: 32.2015 - val_loss: 42.5682 - val_mean_squared_error: 42.5682
Epoch 52/100
120/120 [==============================] - 0s 2ms/step - loss: 32.2490 - mean_squared_error: 32.2490 - val_loss: 42.4964 - val_mean_squared_error: 42.4964
Epoch 53/100
120/120 [==============================] - 0s 2ms/step - loss: 32.6356 - mean_squared_error: 32.6356 - val_loss: 41.7536 - val_mean_squared_error: 41.7536
Epoch 54/100
120/120 [==============================] - 0s 2ms/step - loss: 31.6701 - mean_squared_error: 31.6701 - val_loss: 40.8105 - val_mean_squared_error: 40.8105
Epoch 55/100
120/120 [==============================] - 0s 2ms/step - loss: 31.7446 - mean_squared_error: 31.7446 - val_loss: 42.5021 - val_mean_squared_error: 42.5021
Epoch 56/100
120/120 [==============================] - 0s 2ms/step - loss: 31.6783 - mean_squared_error: 31.6783 - val_loss: 41.3241 - val_mean_squared_error: 41.3241
Epoch 57/100
120/120 [==============================] - 0s 2ms/step - loss: 32.1909 - mean_squared_error: 32.1909 - val_loss: 43.5034 - val_mean_squared_error: 43.5034
Epoch 58/100
120/120 [==============================] - 0s 2ms/step - loss: 32.1922 - mean_squared_error: 32.1922 - val_loss: 42.2893 - val_mean_squared_error: 42.2893
Epoch 59/100
120/120 [==============================] - 0s 2ms/step - loss: 31.6705 - mean_squared_error: 31.6705 - val_loss: 41.9450 - val_mean_squared_error: 41.9450
Epoch 60/100
120/120 [==============================] - 0s 2ms/step - loss: 31.5539 - mean_squared_error: 31.5539 - val_loss: 42.2863 - val_mean_squared_error: 42.2863
Epoch 61/100
120/120 [==============================] - 0s 2ms/step - loss: 31.4062 - mean_squared_error: 31.4062 - val_loss: 43.3830 - val_mean_squared_error: 43.3830
Epoch 62/100
120/120 [==============================] - 0s 2ms/step - loss: 31.3091 - mean_squared_error: 31.3091 - val_loss: 42.5897 - val_mean_squared_error: 42.5897
Epoch 63/100
120/120 [==============================] - 0s 2ms/step - loss: 31.2325 - mean_squared_error: 31.2325 - val_loss: 41.3520 - val_mean_squared_error: 41.3520
Epoch 64/100
120/120 [==============================] - 0s 2ms/step - loss: 31.7822 - mean_squared_error: 31.7822 - val_loss: 42.9437 - val_mean_squared_error: 42.9437
Epoch 65/100
120/120 [==============================] - 0s 2ms/step - loss: 31.2265 - mean_squared_error: 31.2265 - val_loss: 41.3585 - val_mean_squared_error: 41.3585
Epoch 66/100
120/120 [==============================] - 0s 2ms/step - loss: 31.6193 - mean_squared_error: 31.6193 - val_loss: 41.3863 - val_mean_squared_error: 41.3863
Epoch 67/100
120/120 [==============================] - 0s 2ms/step - loss: 31.2402 - mean_squared_error: 31.2402 - val_loss: 43.3169 - val_mean_squared_error: 43.3169
Epoch 68/100
120/120 [==============================] - 0s 2ms/step - loss: 31.5741 - mean_squared_error: 31.5741 - val_loss: 44.2883 - val_mean_squared_error: 44.2883
Epoch 69/100
120/120 [==============================] - 0s 2ms/step - loss: 31.1109 - mean_squared_error: 31.1109 - val_loss: 41.9604 - val_mean_squared_error: 41.9604
Epoch 70/100
120/120 [==============================] - 0s 2ms/step - loss: 30.6801 - mean_squared_error: 30.6801 - val_loss: 41.1104 - val_mean_squared_error: 41.1104
Epoch 71/100
120/120 [==============================] - 0s 2ms/step - loss: 30.5939 - mean_squared_error: 30.5939 - val_loss: 43.1797 - val_mean_squared_error: 43.1797
Epoch 72/100
120/120 [==============================] - 0s 2ms/step - loss: 30.7520 - mean_squared_error: 30.7520 - val_loss: 42.6187 - val_mean_squared_error: 42.6187
Epoch 73/100
120/120 [==============================] - 0s 2ms/step - loss: 31.1450 - mean_squared_error: 31.1450 - val_loss: 41.7253 - val_mean_squared_error: 41.7253
Epoch 74/100
120/120 [==============================] - 0s 2ms/step - loss: 30.7883 - mean_squared_error: 30.7883 - val_loss: 44.6028 - val_mean_squared_error: 44.6028
Epoch 75/100
120/120 [==============================] - 0s 2ms/step - loss: 31.1414 - mean_squared_error: 31.1414 - val_loss: 40.9965 - val_mean_squared_error: 40.9965
Epoch 76/100
120/120 [==============================] - 0s 2ms/step - loss: 30.6304 - mean_squared_error: 30.6304 - val_loss: 42.7222 - val_mean_squared_error: 42.7222
Epoch 77/100
120/120 [==============================] - 0s 2ms/step - loss: 31.2782 - mean_squared_error: 31.2782 - val_loss: 42.2756 - val_mean_squared_error: 42.2756
Epoch 78/100
120/120 [==============================] - 0s 2ms/step - loss: 30.3163 - mean_squared_error: 30.3163 - val_loss: 42.6027 - val_mean_squared_error: 42.6027
Epoch 79/100
120/120 [==============================] - 0s 2ms/step - loss: 30.6770 - mean_squared_error: 30.6770 - val_loss: 45.4720 - val_mean_squared_error: 45.4720
Epoch 80/100
120/120 [==============================] - 0s 2ms/step - loss: 30.1201 - mean_squared_error: 30.1201 - val_loss: 43.7138 - val_mean_squared_error: 43.7138
Epoch 81/100
120/120 [==============================] - 0s 2ms/step - loss: 30.3096 - mean_squared_error: 30.3096 - val_loss: 43.5626 - val_mean_squared_error: 43.5626
Epoch 82/100
120/120 [==============================] - 0s 3ms/step - loss: 30.0359 - mean_squared_error: 30.0359 - val_loss: 42.8243 - val_mean_squared_error: 42.8243
Epoch 83/100
120/120 [==============================] - 0s 3ms/step - loss: 29.8926 - mean_squared_error: 29.8926 - val_loss: 41.6300 - val_mean_squared_error: 41.6300
Epoch 84/100
120/120 [==============================] - 0s 3ms/step - loss: 30.5967 - mean_squared_error: 30.5967 - val_loss: 41.7211 - val_mean_squared_error: 41.7211
Epoch 85/100
120/120 [==============================] - 0s 2ms/step - loss: 30.5232 - mean_squared_error: 30.5232 - val_loss: 41.3057 - val_mean_squared_error: 41.3057
Epoch 86/100
120/120 [==============================] - 0s 2ms/step - loss: 29.6022 - mean_squared_error: 29.6022 - val_loss: 42.2578 - val_mean_squared_error: 42.2578
Epoch 87/100
120/120 [==============================] - 0s 2ms/step - loss: 29.6284 - mean_squared_error: 29.6284 - val_loss: 43.3873 - val_mean_squared_error: 43.3873
Epoch 88/100
120/120 [==============================] - 0s 2ms/step - loss: 29.7670 - mean_squared_error: 29.7670 - val_loss: 42.2649 - val_mean_squared_error: 42.2649
Epoch 89/100
120/120 [==============================] - 0s 2ms/step - loss: 29.8777 - mean_squared_error: 29.8777 - val_loss: 42.1370 - val_mean_squared_error: 42.1370
Epoch 90/100
120/120 [==============================] - 0s 2ms/step - loss: 30.1021 - mean_squared_error: 30.1021 - val_loss: 42.6400 - val_mean_squared_error: 42.6400
Epoch 91/100
120/120 [==============================] - 0s 2ms/step - loss: 29.4133 - mean_squared_error: 29.4133 - val_loss: 41.5061 - val_mean_squared_error: 41.5061
Epoch 92/100
120/120 [==============================] - 0s 2ms/step - loss: 29.5765 - mean_squared_error: 29.5765 - val_loss: 41.7776 - val_mean_squared_error: 41.7776
Epoch 93/100
120/120 [==============================] - 0s 2ms/step - loss: 29.8438 - mean_squared_error: 29.8438 - val_loss: 43.5169 - val_mean_squared_error: 43.5169
Epoch 94/100
120/120 [==============================] - 0s 3ms/step - loss: 29.6748 - mean_squared_error: 29.6748 - val_loss: 42.1549 - val_mean_squared_error: 42.1549
Epoch 95/100
120/120 [==============================] - 0s 2ms/step - loss: 29.4573 - mean_squared_error: 29.4573 - val_loss: 45.1408 - val_mean_squared_error: 45.1408
Epoch 96/100
120/120 [==============================] - 0s 2ms/step - loss: 29.4541 - mean_squared_error: 29.4541 - val_loss: 42.7743 - val_mean_squared_error: 42.7743
Epoch 97/100
120/120 [==============================] - 0s 3ms/step - loss: 29.3948 - mean_squared_error: 29.3948 - val_loss: 44.7043 - val_mean_squared_error: 44.7043
Epoch 98/100
120/120 [==============================] - 0s 3ms/step - loss: 29.4232 - mean_squared_error: 29.4232 - val_loss: 43.1344 - val_mean_squared_error: 43.1344
Epoch 99/100
120/120 [==============================] - 0s 2ms/step - loss: 29.8244 - mean_squared_error: 29.8244 - val_loss: 41.9598 - val_mean_squared_error: 41.9598
Epoch 100/100
120/120 [==============================] - 0s 2ms/step - loss: 28.9114 - mean_squared_error: 28.9114 - val_loss: 42.2989 - val_mean_squared_error: 42.2989
Accuracy on Training set: -29.42505645751953
Accuracy on Testing set: -62.4615592956543
		Error Table
Mean Absolute Error      :  3.5182681718800355
Mean Squared  Error      :  63.46156492475607
Root Mean Squared  Error :  7.966276729109783
R Squared Error          :  0.5640678649553632

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.optimizers import Adam
from sklearn import metrics

scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

# Define the neural network model
model = Sequential()
model.add(Dense(128, input_dim=X_train.shape[1], activation='relu'))
model.add(Dense(64, activation='relu'))
model.add(Dense(32, activation='relu'))
model.add(Dense(1))

model.compile(loss='mean_squared_error', optimizer=Adam(learning_rate=0.001), metrics=['mean_squared_error'])


history = model.fit(X_train, y_train, epochs=100, batch_size=32, validation_split=0.2, verbose=1)

# Make predictions
y_pred = model.predict(X_test)

# Calculate R squared values for training and testing sets
r2_train = metrics.r2_score(y_train, model.predict(X_train))
r2_test = metrics.r2_score(y_test, y_pred)

print("R Squared Error on Training set:", r2_train)
print("R Squared Error on Testing set:", r2_test)

# Print Error Table
print("\t\tError Table")
print('Mean Absolute Error      : ', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared  Error      : ', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared  Error : ', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))
print('R Squared Error          : ', r2_test)

Epoch 1/100
120/120 [==============================] - 0s 3ms/step - loss: 95.9546 - mean_squared_error: 95.9546 - val_loss: 48.5567 - val_mean_squared_error: 48.5567
Epoch 2/100
120/120 [==============================] - 0s 3ms/step - loss: 53.2771 - mean_squared_error: 53.2771 - val_loss: 44.0442 - val_mean_squared_error: 44.0442
Epoch 3/100
120/120 [==============================] - 0s 3ms/step - loss: 49.7601 - mean_squared_error: 49.7601 - val_loss: 43.8379 - val_mean_squared_error: 43.8379
Epoch 4/100
120/120 [==============================] - 0s 2ms/step - loss: 47.4963 - mean_squared_error: 47.4963 - val_loss: 42.0638 - val_mean_squared_error: 42.0638
Epoch 5/100
120/120 [==============================] - 0s 2ms/step - loss: 45.0398 - mean_squared_error: 45.0398 - val_loss: 44.6563 - val_mean_squared_error: 44.6563
Epoch 6/100
120/120 [==============================] - 0s 2ms/step - loss: 44.0713 - mean_squared_error: 44.0713 - val_loss: 42.1863 - val_mean_squared_error: 42.1863
Epoch 7/100
120/120 [==============================] - 0s 2ms/step - loss: 42.4384 - mean_squared_error: 42.4384 - val_loss: 43.6685 - val_mean_squared_error: 43.6685
Epoch 8/100
120/120 [==============================] - 0s 3ms/step - loss: 41.7781 - mean_squared_error: 41.7781 - val_loss: 43.2468 - val_mean_squared_error: 43.2468
Epoch 9/100
120/120 [==============================] - 0s 3ms/step - loss: 42.1606 - mean_squared_error: 42.1606 - val_loss: 43.1958 - val_mean_squared_error: 43.1958
Epoch 10/100
120/120 [==============================] - 0s 3ms/step - loss: 40.8606 - mean_squared_error: 40.8606 - val_loss: 43.5506 - val_mean_squared_error: 43.5506
Epoch 11/100
120/120 [==============================] - 0s 2ms/step - loss: 40.2169 - mean_squared_error: 40.2169 - val_loss: 42.3823 - val_mean_squared_error: 42.3823
Epoch 12/100
120/120 [==============================] - 0s 2ms/step - loss: 39.4528 - mean_squared_error: 39.4528 - val_loss: 45.6889 - val_mean_squared_error: 45.6889
Epoch 13/100
120/120 [==============================] - 0s 2ms/step - loss: 39.5083 - mean_squared_error: 39.5083 - val_loss: 44.4942 - val_mean_squared_error: 44.4942
Epoch 14/100
120/120 [==============================] - 0s 2ms/step - loss: 39.1877 - mean_squared_error: 39.1877 - val_loss: 43.6741 - val_mean_squared_error: 43.6741
Epoch 15/100
120/120 [==============================] - 0s 2ms/step - loss: 38.2265 - mean_squared_error: 38.2265 - val_loss: 42.5994 - val_mean_squared_error: 42.5994
Epoch 16/100
120/120 [==============================] - 0s 2ms/step - loss: 38.4332 - mean_squared_error: 38.4332 - val_loss: 43.8340 - val_mean_squared_error: 43.8340
Epoch 17/100
120/120 [==============================] - 0s 2ms/step - loss: 38.2167 - mean_squared_error: 38.2167 - val_loss: 44.4405 - val_mean_squared_error: 44.4405
Epoch 18/100
120/120 [==============================] - 0s 3ms/step - loss: 37.5468 - mean_squared_error: 37.5468 - val_loss: 44.0986 - val_mean_squared_error: 44.0986
Epoch 19/100
120/120 [==============================] - 0s 2ms/step - loss: 37.6841 - mean_squared_error: 37.6841 - val_loss: 43.5624 - val_mean_squared_error: 43.5624
Epoch 20/100
120/120 [==============================] - 0s 2ms/step - loss: 36.7322 - mean_squared_error: 36.7322 - val_loss: 47.4962 - val_mean_squared_error: 47.4962
Epoch 21/100
120/120 [==============================] - 0s 2ms/step - loss: 36.9320 - mean_squared_error: 36.9320 - val_loss: 44.2402 - val_mean_squared_error: 44.2402
Epoch 22/100
120/120 [==============================] - 0s 2ms/step - loss: 36.5169 - mean_squared_error: 36.5169 - val_loss: 44.9010 - val_mean_squared_error: 44.9010
Epoch 23/100
120/120 [==============================] - 0s 2ms/step - loss: 36.4870 - mean_squared_error: 36.4870 - val_loss: 43.1213 - val_mean_squared_error: 43.1213
Epoch 24/100
120/120 [==============================] - 0s 2ms/step - loss: 36.1306 - mean_squared_error: 36.1306 - val_loss: 44.5367 - val_mean_squared_error: 44.5367
Epoch 25/100
120/120 [==============================] - 0s 2ms/step - loss: 35.8236 - mean_squared_error: 35.8236 - val_loss: 44.9608 - val_mean_squared_error: 44.9608
Epoch 26/100
120/120 [==============================] - 0s 2ms/step - loss: 36.1564 - mean_squared_error: 36.1564 - val_loss: 42.2366 - val_mean_squared_error: 42.2366
Epoch 27/100
120/120 [==============================] - 0s 2ms/step - loss: 35.4902 - mean_squared_error: 35.4902 - val_loss: 41.8228 - val_mean_squared_error: 41.8228
Epoch 28/100
120/120 [==============================] - 0s 2ms/step - loss: 35.2189 - mean_squared_error: 35.2189 - val_loss: 43.9170 - val_mean_squared_error: 43.9170
Epoch 29/100
120/120 [==============================] - 0s 2ms/step - loss: 34.9108 - mean_squared_error: 34.9108 - val_loss: 42.2943 - val_mean_squared_error: 42.2943
Epoch 30/100
120/120 [==============================] - 0s 2ms/step - loss: 35.1285 - mean_squared_error: 35.1285 - val_loss: 40.7276 - val_mean_squared_error: 40.7276
Epoch 31/100
120/120 [==============================] - 0s 2ms/step - loss: 34.8609 - mean_squared_error: 34.8609 - val_loss: 43.2524 - val_mean_squared_error: 43.2524
Epoch 32/100
120/120 [==============================] - 0s 2ms/step - loss: 34.8398 - mean_squared_error: 34.8398 - val_loss: 42.3233 - val_mean_squared_error: 42.3233
Epoch 33/100
120/120 [==============================] - 0s 2ms/step - loss: 34.7975 - mean_squared_error: 34.7975 - val_loss: 42.4976 - val_mean_squared_error: 42.4976
Epoch 34/100
120/120 [==============================] - 0s 2ms/step - loss: 34.4740 - mean_squared_error: 34.4740 - val_loss: 41.7469 - val_mean_squared_error: 41.7469
Epoch 35/100
120/120 [==============================] - 0s 2ms/step - loss: 34.4240 - mean_squared_error: 34.4240 - val_loss: 43.5861 - val_mean_squared_error: 43.5861
Epoch 36/100
120/120 [==============================] - 0s 2ms/step - loss: 33.9914 - mean_squared_error: 33.9914 - val_loss: 43.1238 - val_mean_squared_error: 43.1238
Epoch 37/100
120/120 [==============================] - 0s 2ms/step - loss: 33.9546 - mean_squared_error: 33.9546 - val_loss: 41.8366 - val_mean_squared_error: 41.8366
Epoch 38/100
120/120 [==============================] - 0s 3ms/step - loss: 33.4811 - mean_squared_error: 33.4811 - val_loss: 42.2332 - val_mean_squared_error: 42.2332
Epoch 39/100
120/120 [==============================] - 0s 3ms/step - loss: 33.6772 - mean_squared_error: 33.6772 - val_loss: 44.3666 - val_mean_squared_error: 44.3666
Epoch 40/100
120/120 [==============================] - 0s 3ms/step - loss: 33.8975 - mean_squared_error: 33.8975 - val_loss: 44.5101 - val_mean_squared_error: 44.5101
Epoch 41/100
120/120 [==============================] - 0s 3ms/step - loss: 33.6723 - mean_squared_error: 33.6723 - val_loss: 42.7704 - val_mean_squared_error: 42.7704
Epoch 42/100
120/120 [==============================] - 0s 2ms/step - loss: 33.0968 - mean_squared_error: 33.0968 - val_loss: 43.4300 - val_mean_squared_error: 43.4300
Epoch 43/100
120/120 [==============================] - 0s 2ms/step - loss: 33.8896 - mean_squared_error: 33.8896 - val_loss: 43.9176 - val_mean_squared_error: 43.9176
Epoch 44/100
120/120 [==============================] - 0s 2ms/step - loss: 34.0462 - mean_squared_error: 34.0462 - val_loss: 42.6739 - val_mean_squared_error: 42.6739
Epoch 45/100
120/120 [==============================] - 0s 2ms/step - loss: 33.0650 - mean_squared_error: 33.0650 - val_loss: 44.0330 - val_mean_squared_error: 44.0330
Epoch 46/100
120/120 [==============================] - 0s 2ms/step - loss: 33.0980 - mean_squared_error: 33.0980 - val_loss: 45.6731 - val_mean_squared_error: 45.6731
Epoch 47/100
120/120 [==============================] - 0s 2ms/step - loss: 33.0889 - mean_squared_error: 33.0889 - val_loss: 43.0975 - val_mean_squared_error: 43.0975
Epoch 48/100
120/120 [==============================] - 0s 2ms/step - loss: 32.6966 - mean_squared_error: 32.6966 - val_loss: 40.9569 - val_mean_squared_error: 40.9569
Epoch 49/100
120/120 [==============================] - 0s 2ms/step - loss: 32.1726 - mean_squared_error: 32.1726 - val_loss: 41.9055 - val_mean_squared_error: 41.9055
Epoch 50/100
120/120 [==============================] - 0s 2ms/step - loss: 32.9568 - mean_squared_error: 32.9568 - val_loss: 41.8270 - val_mean_squared_error: 41.8270
Epoch 51/100
120/120 [==============================] - 0s 2ms/step - loss: 32.5219 - mean_squared_error: 32.5219 - val_loss: 44.0915 - val_mean_squared_error: 44.0915
Epoch 52/100
120/120 [==============================] - 0s 2ms/step - loss: 32.1548 - mean_squared_error: 32.1548 - val_loss: 44.8547 - val_mean_squared_error: 44.8547
Epoch 53/100
120/120 [==============================] - 0s 2ms/step - loss: 31.9068 - mean_squared_error: 31.9068 - val_loss: 43.8012 - val_mean_squared_error: 43.8012
Epoch 54/100
120/120 [==============================] - 0s 2ms/step - loss: 32.5428 - mean_squared_error: 32.5428 - val_loss: 43.1696 - val_mean_squared_error: 43.1696
Epoch 55/100
120/120 [==============================] - 0s 2ms/step - loss: 32.0986 - mean_squared_error: 32.0986 - val_loss: 42.2810 - val_mean_squared_error: 42.2810
Epoch 56/100
120/120 [==============================] - 0s 2ms/step - loss: 31.5746 - mean_squared_error: 31.5746 - val_loss: 43.5618 - val_mean_squared_error: 43.5618
Epoch 57/100
120/120 [==============================] - 0s 2ms/step - loss: 32.1941 - mean_squared_error: 32.1941 - val_loss: 46.2086 - val_mean_squared_error: 46.2086
Epoch 58/100
120/120 [==============================] - 0s 2ms/step - loss: 31.7392 - mean_squared_error: 31.7392 - val_loss: 43.1578 - val_mean_squared_error: 43.1578
Epoch 59/100
120/120 [==============================] - 0s 2ms/step - loss: 31.8532 - mean_squared_error: 31.8532 - val_loss: 42.5789 - val_mean_squared_error: 42.5789
Epoch 60/100
120/120 [==============================] - 0s 2ms/step - loss: 31.6365 - mean_squared_error: 31.6365 - val_loss: 43.0526 - val_mean_squared_error: 43.0526
Epoch 61/100
120/120 [==============================] - 0s 2ms/step - loss: 32.0810 - mean_squared_error: 32.0810 - val_loss: 43.6274 - val_mean_squared_error: 43.6274
Epoch 62/100
120/120 [==============================] - 0s 2ms/step - loss: 31.7833 - mean_squared_error: 31.7833 - val_loss: 42.7846 - val_mean_squared_error: 42.7846
Epoch 63/100
120/120 [==============================] - 0s 2ms/step - loss: 31.6975 - mean_squared_error: 31.6975 - val_loss: 41.2610 - val_mean_squared_error: 41.2610
Epoch 64/100
120/120 [==============================] - 0s 2ms/step - loss: 31.6469 - mean_squared_error: 31.6469 - val_loss: 42.2991 - val_mean_squared_error: 42.2991
Epoch 65/100
120/120 [==============================] - 0s 2ms/step - loss: 31.6384 - mean_squared_error: 31.6384 - val_loss: 41.9227 - val_mean_squared_error: 41.9227
Epoch 66/100
120/120 [==============================] - 0s 2ms/step - loss: 31.4459 - mean_squared_error: 31.4459 - val_loss: 41.5341 - val_mean_squared_error: 41.5341
Epoch 67/100
120/120 [==============================] - 0s 2ms/step - loss: 31.1211 - mean_squared_error: 31.1211 - val_loss: 43.1124 - val_mean_squared_error: 43.1124
Epoch 68/100
120/120 [==============================] - 0s 2ms/step - loss: 31.4541 - mean_squared_error: 31.4541 - val_loss: 42.4901 - val_mean_squared_error: 42.4901
Epoch 69/100
120/120 [==============================] - 0s 2ms/step - loss: 30.7794 - mean_squared_error: 30.7794 - val_loss: 41.7688 - val_mean_squared_error: 41.7688
Epoch 70/100
120/120 [==============================] - 0s 2ms/step - loss: 30.7249 - mean_squared_error: 30.7249 - val_loss: 44.4003 - val_mean_squared_error: 44.4003
Epoch 71/100
120/120 [==============================] - 0s 2ms/step - loss: 31.2969 - mean_squared_error: 31.2969 - val_loss: 41.3279 - val_mean_squared_error: 41.3279
Epoch 72/100
120/120 [==============================] - 0s 2ms/step - loss: 30.5946 - mean_squared_error: 30.5946 - val_loss: 43.7750 - val_mean_squared_error: 43.7750
Epoch 73/100
120/120 [==============================] - 0s 2ms/step - loss: 30.9401 - mean_squared_error: 30.9401 - val_loss: 41.4890 - val_mean_squared_error: 41.4890
Epoch 74/100
120/120 [==============================] - 0s 2ms/step - loss: 30.8930 - mean_squared_error: 30.8930 - val_loss: 43.1949 - val_mean_squared_error: 43.1949
Epoch 75/100
120/120 [==============================] - 0s 2ms/step - loss: 30.8252 - mean_squared_error: 30.8252 - val_loss: 43.4490 - val_mean_squared_error: 43.4490
Epoch 76/100
120/120 [==============================] - 0s 2ms/step - loss: 30.4996 - mean_squared_error: 30.4996 - val_loss: 41.9410 - val_mean_squared_error: 41.9410
Epoch 77/100
120/120 [==============================] - 0s 2ms/step - loss: 31.0636 - mean_squared_error: 31.0636 - val_loss: 42.6548 - val_mean_squared_error: 42.6548
Epoch 78/100
120/120 [==============================] - 0s 2ms/step - loss: 30.4160 - mean_squared_error: 30.4160 - val_loss: 42.7682 - val_mean_squared_error: 42.7682
Epoch 79/100
120/120 [==============================] - 0s 2ms/step - loss: 30.2313 - mean_squared_error: 30.2313 - val_loss: 43.7156 - val_mean_squared_error: 43.7156
Epoch 80/100
120/120 [==============================] - 0s 2ms/step - loss: 30.6726 - mean_squared_error: 30.6726 - val_loss: 44.7937 - val_mean_squared_error: 44.7937
Epoch 81/100
120/120 [==============================] - 0s 2ms/step - loss: 30.0663 - mean_squared_error: 30.0663 - val_loss: 43.8188 - val_mean_squared_error: 43.8188
Epoch 82/100
120/120 [==============================] - 0s 2ms/step - loss: 30.8696 - mean_squared_error: 30.8696 - val_loss: 42.9827 - val_mean_squared_error: 42.9827
Epoch 83/100
120/120 [==============================] - 0s 2ms/step - loss: 30.5025 - mean_squared_error: 30.5025 - val_loss: 42.8649 - val_mean_squared_error: 42.8649
Epoch 84/100
120/120 [==============================] - 0s 2ms/step - loss: 29.9237 - mean_squared_error: 29.9237 - val_loss: 42.0109 - val_mean_squared_error: 42.0109
Epoch 85/100
120/120 [==============================] - 0s 2ms/step - loss: 30.1336 - mean_squared_error: 30.1336 - val_loss: 43.0119 - val_mean_squared_error: 43.0119
Epoch 86/100
120/120 [==============================] - 0s 2ms/step - loss: 29.9741 - mean_squared_error: 29.9741 - val_loss: 42.1347 - val_mean_squared_error: 42.1347
Epoch 87/100
120/120 [==============================] - 0s 2ms/step - loss: 30.0244 - mean_squared_error: 30.0244 - val_loss: 41.9442 - val_mean_squared_error: 41.9442
Epoch 88/100
120/120 [==============================] - 0s 3ms/step - loss: 30.3016 - mean_squared_error: 30.3016 - val_loss: 41.2736 - val_mean_squared_error: 41.2736
Epoch 89/100
120/120 [==============================] - 0s 2ms/step - loss: 29.6151 - mean_squared_error: 29.6151 - val_loss: 42.1828 - val_mean_squared_error: 42.1828
Epoch 90/100
120/120 [==============================] - 0s 2ms/step - loss: 29.6363 - mean_squared_error: 29.6363 - val_loss: 41.6923 - val_mean_squared_error: 41.6923
Epoch 91/100
120/120 [==============================] - 0s 2ms/step - loss: 29.8686 - mean_squared_error: 29.8686 - val_loss: 42.6968 - val_mean_squared_error: 42.6968
Epoch 92/100
120/120 [==============================] - 0s 2ms/step - loss: 29.4163 - mean_squared_error: 29.4163 - val_loss: 42.6473 - val_mean_squared_error: 42.6473
Epoch 93/100
120/120 [==============================] - 0s 2ms/step - loss: 30.0161 - mean_squared_error: 30.0161 - val_loss: 42.9003 - val_mean_squared_error: 42.9003
Epoch 94/100
120/120 [==============================] - 0s 2ms/step - loss: 29.1936 - mean_squared_error: 29.1936 - val_loss: 43.4602 - val_mean_squared_error: 43.4602
Epoch 95/100
120/120 [==============================] - 0s 2ms/step - loss: 30.0109 - mean_squared_error: 30.0109 - val_loss: 42.6768 - val_mean_squared_error: 42.6768
Epoch 96/100
120/120 [==============================] - 0s 2ms/step - loss: 29.4364 - mean_squared_error: 29.4364 - val_loss: 43.4121 - val_mean_squared_error: 43.4121
Epoch 97/100
120/120 [==============================] - 0s 2ms/step - loss: 29.1659 - mean_squared_error: 29.1659 - val_loss: 43.3223 - val_mean_squared_error: 43.3223
Epoch 98/100
120/120 [==============================] - 0s 2ms/step - loss: 29.3218 - mean_squared_error: 29.3218 - val_loss: 42.2433 - val_mean_squared_error: 42.2433
Epoch 99/100
120/120 [==============================] - 0s 2ms/step - loss: 29.4423 - mean_squared_error: 29.4423 - val_loss: 42.1568 - val_mean_squared_error: 42.1568
Epoch 100/100
120/120 [==============================] - 0s 2ms/step - loss: 29.1261 - mean_squared_error: 29.1261 - val_loss: 42.4890 - val_mean_squared_error: 42.4890
R Squared Error on Training set: 0.7486931814969767
R Squared Error on Testing set: 0.536788866591301
		Error Table
Mean Absolute Error      :  3.562017219884625
Mean Squared  Error      :  67.43275169121453
Root Mean Squared  Error :  8.211744740992291
R Squared Error          :  0.536788866591301